@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*
{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091121;
}
body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#00D3,#f41411);
    clip-path:circle(22% at 30% 20%) ;
}
body:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#ffffff,#da00ff);
    clip-path:circle(20% at 70% 90%) ;
}
.container{
    position: relative;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
    overflow: hidden;
    z-index: 10;
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    border-left: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);

}
.container .calculator{
    position: relative;
    display: grid;
}
.container .calculator .value{
    grid-column: span 4;
    width: 300px;
    height: 140px;
    text-align: right;
    border: none;
    outline: none;
    font-size: 30px;
    background: transparent;
    color: #ffffff;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right:  1px solid rgba(255, 255, 255, 0.05);
}
.container .calculator span{
    display: grid;
    width: 75px;
    height: 75px;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    place-items: center;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    border-right:  1px solid rgba(255, 255, 255, 0.05);
    transition: 0.5s;
}
.container .calculator span:hover{
transition: 0s;
background: rgba(255, 255, 255, 0.05);
}
.container .calculator span:active{
    background: #ff0377;
    color: #192f00;
    font-size: 24px;
    font-weight: 500;

}
.container .calculator span.clear{
    grid-column: span 2;
    width: 150px;
    background: #74fe33;
}
.container .calculator span.plus{
    grid-row: span 2;
    height: 150px;
    /* background: #74fe33; */
}
.calculator span.equal{
    background: #6B011F;
}